.ng-invalid.ng-touched {
    border-color: #dc3545 !important
}
::ng-deep .mat-simple-snackbar {
    justify-content: center!important;
}
mat-spinner {
    zoom: 0.3
}
.example-chip-list {
    width: 100%;
}
.remove-images {
    position: absolute;
    right: -10px;
    top: -17px;
}