<div class="flex flex-col flex-auto min-w-0" >
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="row mb-3">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-end">
                <button  (click)="openModal()" mat-raised-button color="primary"><mat-icon class="me-2">add</mat-icon> Add Shipping</button>
            </div>
        </div>

        <div class="row">
            <div class=" mat-elevation-z8 shadow-sm p-3 w-100 bg-white">
                <div class="d-flex px-3 py-4">
                    <div class="col-6">
                        <mat-icon style="cursor: pointer;" (click)="getNextData()">autorenew</mat-icon>
                    </div>
                    <div class="col-6">
                        <div class="form-group d-flex">
                            <button  mat-raised-button color="warn" (click)="BulkDelete()" class="ms-auto me-2">Bulk Delete</button>
                            <input style="max-width: 268px;" type="text" class="form-control bg-light sortInput rounded-pill" #filterInput (keyup)="applyFilter(filterInput.value)" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div *ngIf="loading;else table" class="d-flex justify-content-center">
                    <mat-spinner class="progress-spinner"></mat-spinner>
                </div>
                <div *ngIf="dataSource.data.length === 0" class="text-center">
                    No Records Found!
                </div>
                <ng-template #table>
                    <table mat-table [dataSource]="dataSource" matSort class="" style="width: 100%;">
                        <ng-container matColumnDef="check">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="form-group">
                                    <input  class="form-check-input" (click)="checkAllDeleteItems($event)" type="checkbox" id="deleteAll"  value="" >
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element; let j = index">
                                <div class="form-check">
                                    <input  class="form-check-input deleteChecks" (click)="getDeleteItems(element, j)" type="checkbox" value="" id="{{element._id}}">
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="shippingCost">
                            <th mat-header-cell *matHeaderCellDef> Cost</th>
                            <td mat-cell *matCellDef="let element">{{element.shippingCost}}</td>
                        </ng-container>

                        <ng-container matColumnDef="shippingFrom">
                            <th mat-header-cell *matHeaderCellDef> From</th>
                            <td mat-cell *matCellDef="let element">{{element.shippingFrom }}</td>
                        </ng-container>

                        <ng-container matColumnDef="shippingTo">
                            <th mat-header-cell *matHeaderCellDef> To</th>
                            <td mat-cell *matCellDef="let element">{{element.shippingTo }}</td>
                        </ng-container>

                        <ng-container matColumnDef="shippingTime">
                            <th mat-header-cell *matHeaderCellDef> Time</th>
                            <td mat-cell *matCellDef="let element">{{element.shippingTime }}</td>
                        </ng-container>

                        <ng-container matColumnDef="minimumOrder">
                            <th mat-header-cell *matHeaderCellDef> Minumum Order</th>
                            <td mat-cell *matCellDef="let element">{{element.minimumOrder }}</td>
                        </ng-container>


                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="text-right"> Action </th>
                            <td mat-cell *matCellDef="let element; let i = index " class="text-right">
                            <button mat-icon-button (click)="openUpdateModal(element, i)">
                                <mat-icon>edit</mat-icon>
                            </button>
                                <button mat-icon-button color="warn"  (click)="deleteCategory(element,i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOne"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOne;"></tr>
                    </table>
                </ng-template>
                <mat-paginator
                    #Paginator
                     [pageIndex]="0"
                     [pageSize]="tablePaging.limit"
                     [pageSizeOptions]="[5, 10, 20,30, 50, 100]"
                     (page)="pageChanged($event)"
                     aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>

    <ng-template #content let-modal class="bd-example-modal-lg">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{selectedShipping ? 'Update' : 'Add'}} Shipping</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="px-4" [formGroup]="shippingForm" (ngSubmit)="postData()">
                <div class="row">
                    <div class="form-group mb-3  col-12">
                        <label for="" class="mb-1"> Cost</label>
                        <input type="text" class="form-control" id="shippingCost" name="shippingCost" formControlName="shippingCost" placeholder="$50" (keypress)="numberOnly($event)">
                    </div>
                    <div class="form-group mb-3  col-12">
                        <label for="" class="mb-1"> From</label>
                        <input type="text" class="form-control" id="shippingFrom" #pincodeInput name="shippingFrom" formControlName="shippingFrom" placeholder="$50" (keypress)="numberOnly($event)">
                        <div *ngIf="shippingFrom.errors?.minlength" >
                           <small class="text-danger"> Pincode must be at least 6 characters long.</small>
                        </div>
                        <div *ngIf="shippingFrom.errors?.maxlength">
                            <small class="text-danger">Pincode must be at 6 characters max.</small>
                       </div>
                    </div>
                    <div class="form-group mb-3  col-12">
                        <label for="" class="mb-1"> To</label>
                        <input type="text" class="form-control" id="shippingTo" name="shippingTo" formControlName="shippingTo" placeholder="$50" (keypress)="numberOnly($event)">
                        <div *ngIf="shippingTo.errors?.minlength" >
                            <small class="text-danger"> Pincode must be at least 6 characters long.</small>
                         </div>
                         <div *ngIf="shippingTo.errors?.maxlength">
                             <small class="text-danger">Pincode must be at 6 characters max.</small>
                        </div>
                    </div>
                    <div class="form-group mb-3  col-12">
                        <label for="" class="mb-1"> Time</label>
                        <input type="text" class="form-control" id="shippingTime" name="shippingTime" formControlName="shippingTime" placeholder="$50" >
                    </div>
                    <div class="form-group mb-3  col-12">
                        <label for="" class="mb-1"> Minimum Order</label>
                        <input type="text" class="form-control" id="minimumOrder" name="minimumOrder" formControlName="minimumOrder" placeholder="$50" (keypress)="numberOnly($event)">
                    </div>
                    <div class="form-group mb-3  col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="prePaid" formControlName="prePaid">
                            <label class="form-check-label" for="prePaid">
                              Prepaid
                            </label>
                          </div>
                    </div>
                    <div class="form-group mb-3  col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="postPaid" formControlName="postPaid">
                            <label class="form-check-label" for="postPaid">
                              Postpaid
                            </label>
                          </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary " >{{selectedShipping ? 'Update' : 'Add'}} Shipping</button>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
        </div>
    </ng-template>

</div>
