<div class="flex flex-col flex-auto min-w-0" >
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="row mb-3">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 text-end">
                <a routerLink="/add-product">
                    <button  mat-raised-button color="primary"><mat-icon class="me-2">add</mat-icon> Add Products</button>
                </a>
            </div>
        </div>


        <div class="row">
            <div class=" mat-elevation-z8 shadow-sm p-3 w-100 bg-white">

                <div class="d-flex px-3 py-4">
                    <div class="col-2">
                        <mat-icon style="cursor: pointer;" (click)="getNextData()">autorenew</mat-icon>
                    </div>
                    <div class="col-10">
                        <div class="form-group d-flex justify-content-end">
                             <button  mat-raised-button color="primary" (click)="BulkPublish()" class="ms-auto me-2">
                                <mat-icon class="me-1">check_circle_outline</mat-icon>
                                Publish
                            </button>
                            <button  mat-raised-button color="warn" (click)="BulkUnpublish()" class=" me-2">
                                <mat-icon class="me-1">highlight_off</mat-icon>Unpublish
                            </button>
                            <button  mat-raised-button color="warn" (click)="BulkDelete()" class=" me-2">
                                <mat-icon class="me-1">delete_forever</mat-icon>Bulk Delete
                            </button>
                            <input style="max-width: 268px;" type="text" class="form-control bg-light sortInput rounded-pill" #productInput (keyup)="applyProductFilter(productInput.value)" placeholder="Search">
                        </div>
                    </div>
                </div>
                <form [formGroup]="searchForm" class="row">
                    <div class="form-group col px-1">
                        <input style="max-width: 268px;" type="text" class="form-control bg-light"  formControlName="searchInput" placeholder="Search">
                    </div>
                    <div class="form-group col px-0">
                        <select class="form-select" aria-label="Default select example" formControlName="product">
                            <option  value="productName" selected>Product Name</option>
                            <option value="productSku">ProductSku</option>
                        </select>
                    </div>
                    <div class="form-group col px-1">
                        <select class="form-select" aria-label="Default select example" formControlName="category">
                            <option  value="" selected>All categories</option>
                            <option *ngFor="let categories of categoriesList" [value]="categories._id">{{categories.categoryName}}</option>
                        </select>
                    </div>
                    <div class="form-group col px-1">
                        <select class="form-select" aria-label="Default select example" id="vendor" name="vendor" formControlName="vendor">
                            <option value="" selected >All Vendors</option>
                            <option *ngFor="let vendors of vendorsList" [value]="vendors._id">{{vendors.name}}</option>
                        </select>
                    </div>

                    <div class="col px-1">
                        <div class="btn bg-gray-100 w-100">Approval Status</div>
                    </div>

                    <div class="form-group col px-1">
                        <select class="form-select" aria-label="Default select example" formControlName="publish">
                            <option selected value="">All </option>
                            <option value="true">Published</option>
                            <option value="false">Unpublished</option>
                        </select>
                    </div>

                    <div class="form-group col px-1">
                        <button class="me-2" mat-raised-button color="primary" (click)="filterTable()">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button  mat-raised-button color="warn" (click)="unSubscribeFilterTable()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </form>
                <!-- <div *ngIf="loading;else table" class="d-flex justify-content-center">
                    <mat-spinner class="progress-spinner"></mat-spinner>
                </div> -->

                <div class="w-100 pt-2"  *ngIf="loading; else table">
                    <div class=" row  align-items-center"  >
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col-1" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                    </div>
                    <div class=" row  align-items-center"  *ngFor="let data of products">
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance ="circle"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col-1"><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                        <div class="item col" ><ngx-skeleton-loader  appearance="line"></ngx-skeleton-loader></div>
                    </div>
                </div>

                <div *ngIf="dataSource.data.length === 0" class="text-center">
                    No Records Found!
                </div>

                <ng-template #table>
                    <table mat-table [dataSource]="dataSource" matSort class="" style="width: 100%;">
                        <ng-container matColumnDef="check">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="form-group">
                                    <input  class="form-check-input" (click)="getBulkItems($event)" type="checkbox" id="checkAll"  value="" >
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element; let j = index">
                                <div class="form-check">
                                    <input  class="form-check-input bulkChecks" (click)="getCheckedItem(element, j)" type="checkbox" value="" id="{{element._id}}">
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="image">
                            <th mat-header-cell *matHeaderCellDef> Image</th>
                            <td mat-cell *matCellDef="let element"><img src="{{element.productImages[0]}}" style="max-width: 70px;" class="w-100 py-2" alt=""></td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name</th>
                            <td mat-cell *matCellDef="let element">{{element.productName}}</td>
                        </ng-container>

                        <ng-container matColumnDef="productSku">
                            <th mat-header-cell *matHeaderCellDef> Sku</th>
                            <td mat-cell *matCellDef="let element">{{element.productSku}}</td>
                        </ng-container>
                        <ng-container matColumnDef="stock">
                            <th mat-header-cell *matHeaderCellDef> Stock</th>
                            <td mat-cell *matCellDef="let element">{{element.stock}}</td>
                        </ng-container>
                        <ng-container matColumnDef="category">
                            <th mat-header-cell *matHeaderCellDef> Category</th>
                            <td mat-cell *matCellDef="let element">{{element.productCategory.categoryName }}</td>
                        </ng-container>
                        <ng-container matColumnDef="subCategory">
                            <th mat-header-cell *matHeaderCellDef> Sub Category</th>
                            <td mat-cell *matCellDef="let element">{{element.productSubCategory.subCategoryName }}</td>
                        </ng-container>
                        <ng-container matColumnDef="todayDeal">
                            <th mat-header-cell *matHeaderCellDef> Toady's Deal</th>
                            <td mat-cell *matCellDef="let element"><mat-slide-toggle color="primary" [(ngModel)]="element.todaysDeal"  (change)="setTodaysDeal(element._id,element.todaysDeal,  i)"></mat-slide-toggle></td>
                        </ng-container>
                        <ng-container matColumnDef="publish">
                            <th mat-header-cell *matHeaderCellDef> Publish</th>
                            <td mat-cell *matCellDef="let element"><mat-slide-toggle color="primary" [(ngModel)]="element.publish"  (change)="setPublish(element._id,element.publish,  i)"></mat-slide-toggle></td>
                        </ng-container>
                        <ng-container matColumnDef="feature">
                            <th mat-header-cell *matHeaderCellDef> feature</th>
                            <td mat-cell *matCellDef="let element"><mat-slide-toggle color="primary" [(ngModel)]="element.featured"  (change)="setFeatured(element._id,element.featured,  i)"></mat-slide-toggle></td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="text-right"> Action </th>
                            <td mat-cell *matCellDef="let element; let i = index " class="text-right">
                                <a style="text-decoration: none;" routerLink="/edit-product/{{element._id}}">
                                    <button mat-icon-button>
                                        <mat-icon>edit</mat-icon>

                                    </button>
                                </a>
                                <button mat-icon-button color="warn"  (click)="deleteProduct(element,i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsOne"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsOne;"></tr>
                    </table>
                </ng-template>
                <mat-paginator
                    #Paginator
                    [pageIndex]="0"
                    [pageSize]="tablePaging.limit"
                    [pageSizeOptions]="[5, 10, 20,30, 50, 100]"
                    (page)="pageChanged($event)"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>



</div>
