<div class="flex flex-col flex-auto min-w-0" >
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let card of cards">
                <div class="col-12 shadow-lg bg-white dashboard-cards p-2" style="border-radius: 10px;">
                    <div class="card-header bg-white border-bottom-0 d-flex">
                        <div class="col-9" style="font-size: 16px;">{{card.title}}</div>
                        <div class="col-3 text-right">
                            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                            <mat-menu #menu="matMenu">
                            <button mat-menu-item>Yesterday</button>
                            <button mat-menu-item>2 days ago</button>
                            <button mat-menu-item>3 days ago</button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="card-body py-1 text-center" >
                        <div class="fw-bold mb-0 lh-sm" style="font-size: 62px;" [ngClass]="card.cardstatus">{{ card.total}}</div>
                        <div class="fs-6" [ngClass]="card.cardstatus">{{card.reports}}</div>
                    </div>
                    <div class="card-footer mt-1 bg-white border-top-0 text-center">
                       <small> {{card.status}}: {{card.tasks}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
