.products-form-wrapper {
    border-radius: 10px;
}

::ng-deep .mat-simple-snackbar {
    justify-content: center!important;
}
.ng-invalid.ng-touched {
    border-color: #dc3545 !important
}
#productsForm label {
    color: #817777!important;
    
}
.example-chip-list {
    width: 100%;
}